#wrapper{
outline:1px solid #cccccc;
width:800px;
padding:10px;
margin:0 auto;
}
#header{
height:77px;
background-color:#DEC000;
margin-bottom:12px;
}
#sidebarL{
background-color:#E5E59D;
margin-bottom:12px;
width:150px;
float:left;
}
#sidebarR{
background-color:#E5E59D;
margin-bottom:12px;
width:150px;
float:right;
}
#content{
background-color:#FF7B00;
margin:0 160px 12px 160px;
width:480px;
}
#footer{
height:77px;
background-color:#00CD89;
margin-bottom:12px;
}
.clear{
clear:both;
}