body {
background-color:#c3c3c3;
background-image:url(../images/pattern.png);	
background-repeat:repeat-yx;
margin:0;
padding:0;
}
#main{
width:800px;
height:991px;
margin:29px auto;
background-image:url(../images/bg_s.jpg);
background-color:#FF00AE;
}
#main h1{
text-align:center;
outline:0;
padding-top:182px;
font:36px Tahoma;
background-image:url(../images/logo.png);
background-repeat:no-repeat;
background-position:160px 190px;
}
#wrepper{
outline:0;
background:url(../images/tel.jpg) no-repeat fixed 0 120px;
}